<div class="orange">
	<%= aeroshow('historia') %>
	<%= aeroshow('galeria') %>
	<%= aeroshow('participantes') %>
	<%= aeroshow('boletos') %>
</div>
<div class="orange">
	<%= aeroshow('mapa-area') %>
	<%= aeroshow('patrocinadores') %>
	<%= aeroshow('publicidad') %>
	<%= aeroshow('contacto') %>
</div>