<article>
	<p>
		<% @textos.each do |p| %>
		 <%= p.content %>
		<% end %>
	</p>
</article>

<div class="foto-inicio">

	<%= image_tag @imagen1.image, :size=>'411x256',:class=>"image"%>
</div>
<div class="publicidad">
	<%= image_tag @imagen2.image, :size=>'151x112'  %>
	<%= image_tag @imagen3.image, :size=>'151x112',:class=>"imagen" %>
	<%= image_tag @imagen4.image, :size=>'151x112',:class=>"imagen"  %>			
</div>
<div class="coordenadas">
<%= image_tag @imagen5.image, :size=>'166x104',:class=>"img"  %>	
</div>	