<nav>
	<ul>
		<li><%= menu('inicio') %></li>
		<li><%= menu('nosotros') %></li>
		<li><%= menu('aeroshow') %></li>
		<li><%= menu('cursos') %></li>
		<li><%= menu('prensa') %></li>
		<li><%= menu('instalaciones') %></li>
		<li><%= menu('galeria') %></li>
		<li><%= menu('livecamera') %></li>
	</ul>
	
</nav>